{% extends "bootstrap_base.html" %}

{%block title%}OSCARS TE - Traffic Engineering with OSCARS{%endblock%}

{%block body_content%}

	{% include "navbar.html" %}

	<div class="container">

	    {% with messages = get_flashed_messages() %}
		    {% if messages %}
			    {% for message in messages %}
					<div class="alert alert-warning alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{{ message }}
					</div>
			    {% endfor %}
		    {% endif %}
	    {% endwith %}

		{%block main_content%}{%endblock%}

	</div>

{%endblock%}