<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  </head>
  <body>
	<h1>Infinera Demo</h1>
	<p>
	<ul>
		<li><a href="/plot?controller=skip&location=demoTopology">Optical Offloading map (Fixed topology)</a></li>
		<li><a href="/plot?controller=student6.es.net:8080&location=infinerademo">Optical Offloading map</a></li>
		<li><a href="/plot?controller=student6.es.net:8080">US map</a></li>
	</ul>
	</p>
  </body>
</html>