<!DOCTYPE html>

<html><head>
<title>Switches and Circuits</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css')}}" type="text/css" media="all">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.csv.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.geo.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.geom.js') }}"></script>
</head><body>

<h2><span>Switches and Traffic</span><br></h2>
<div style="position:absolute;bottom:0;font-size:18px;">
	<input type="checkbox" id="refresh" onchange="refreshPage()">
	<label for="refresh">Auto-Refresh</label>
</div>

<div style="display:none" id="errorbox">{{ errormsg }}</div>

<script type="text/javascript">
	window.onload = setupRefresh;

	function setupRefresh() {
		document.getElementById('refresh').checked = true;
		setTimeout("refreshPage();", 8000); // milliseconds
	}

	function refreshPage() {
		if (document.getElementById('refresh').checked == true) {
			window.location.reload()
		}
	}
	
	function showError() {
		var errorbox = document.getElementById('errorbox');
		if (errorbox.innerHTML != '') {
			errorbox.style.display = ''
		}

	}
	showError();
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/floodlightFn.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/%sPlot.js' % location) }}"></script>
</body></html>