{% extends "base.html" %}


{%block main_content%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/intplot.css')}}" type="text/css" media="all">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">

<script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.csv.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.geo.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.geom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3/topojson.v1.min.js') }}"></script>


<h2><span>Switches and Traffic</span><br></h2>

<div>
	<input type="checkbox" style="float:right;" id="refresh" onchange="refreshPage()">
	<label for="refresh" style="float:right;">Auto-Refresh</label>
</div>

<h4 id="deviceinfo">Node description</h4>

<div id="topology"></div>

<div style="display:none" id="errorbox">{{ errormsg }}</div>

<script type="text/javascript">
	window.onload = setupRefresh;

	function setupRefresh() {
		document.getElementById('refresh').checked = false;
		setTimeout("refreshPage();", 8000); // milliseconds
	}

	function refreshPage() {
		if (document.getElementById('refresh').checked == true) {
			window.location.reload()
		}
	}
	
	function showError() {
		var errorbox = document.getElementById('errorbox');
		if (errorbox.innerHTML != '') {
			errorbox.style.display = ''
		}

	}
	showError();
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/plot/Plot.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot/BaseTopology.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot/FloodlightTopology.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot/OscarsTopology.js') }}"></script>
<script type="text/javascript" >

//var plot = new FloodlightTopology();
var plot = new OscarsTopology();

function setupPlot() {
	document.getElementById('refresh').checked = true;

	plot.init();
	plot.usBackground();
	plot.initBaseTopology();

	// plot.parseFloodlightTopology("{{'/data/topology.json?controller=%s' % controller}}",
	// 							function () { plot.draw(); });
	plot.parseOscarsTopology("{{'/data/topology.json?controller=%s' % controller}}",
							 "{{'/data/circuits.json?oscarsdb=%s' % oscarsdb}}",
	 							function () { plot.draw(); });
	
	
	setTimeout("updateTopology();", 2000); // milliseconds
	
	plot.draw();
}

function updateTopology() {
	if (document.getElementById('refresh').checked == true) {
		// plot.parseFloodlightTopology("{{'/data/topology.json?controller=%s' % controller}}",
		// 							function () { plot.redraw(); });
		plot.parseOscarsTopology("{{'/data/topology.json?controller=%s' % controller}}",
								 "{{'/data/circuits.json?oscarsdb=%s' % oscarsdb}}",
		 							function () { plot.redraw(); });
		
		setTimeout("updateTopology();", 2000); // milliseconds
	}
}

window.onload = setupPlot;

</script>

{%endblock%}
