{% extends "base.html" %}


{%block main_content%}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.10.2.min.js') }}"></script>
<h3><span>Monitor</span><br></h2>

{% if switch %}
<h4>Flows on switch {{ switch }}</h4>
<table class="table table-striped" id="table">
	<tr>
		<th>Match</th>
		<th>Bytes</th>
		<th>Packets</th>
	</tr>
</table>

{% else %}
<table class="table table-striped" id="table">
	<tr>
		<th>Switch</th>
		<th># Flows</th>
	</tr>
</table>

{% endif %}

<script type="text/javascript">

function actions2str(actions) {
	var s = '';
	for (i in actions) {
		switch (actions[i].type) {
		case 'SET_VLAN_ID':
			s += 'set_vlan:' + actions[i].virtualLanIdentifier + ' ';
			break;
		case 'OUTPUT':
			s += 'output:' + actions[i].port + ' ';
			break;
		}
	}
	if (s.length > 0)
		return ', actions='+s;
	return ''
}

function flow2str(match, actions) {
	var s = ''
	//if (match.inputPort != 0) {
		s += 'in:' + match.inputPort;
	//}
	if (match.dataLayerVirtualLan != "0")
		s += ', vlan:' + match.dataLayerVirtualLan;
	if (match.dataLayerSource != "00:00:00:00:00:00" ||
		match.dataLayerDestination != "00:00:00:00:00:00") {
		s += ', l2:' + match.dataLayerSource + '->' 
			+ match.dataLayerDestination;
	}
	if (match.networkSource != '0.0.0.0' || 
		match.networkDestination != '0.0.0.0') {
		s += ', l3:' + match.networkSource + '->' 
			+ match.networkDestination;
	}

	if (match.transportSource != 0 || 
		match.transportDestination != 0) {
		s += ', l4:' + match.transportSource + '->' 
			+ match.transportDestination;
	}
	return s + actions2str(actions);
}

console.log({{stats|tojson|safe}});
$(document).ready(function () {
	var stats = $.parseJSON({{ stats|tojson|safe }})
	
	{% if switch %}

	sw = {{switch|tojson|safe}}
	console.log(sw);
	for (flow in stats[sw]) {
		var line = "<tr><td>"+ flow2str(stats[sw][flow].match, stats[sw][flow].actions) +"</td>" +
				   "<td>" + stats[sw][flow].byteCount + "</td>" + 
				   "<td>" + stats[sw][flow].packetCount + "</td></tr>"
   		$("#table").append(line);
	}

	{% else %}

	for (sw in stats) {
		var line = "<tr><td><a href=\"/monitor/switch/"+ sw +"\">" + sw + "</a></td>" +
				   "<td>" + stats[sw].length + "</td></tr>"
   		$("#table").append(line);
	}

	{% endif %}	
	
})
</script>


{%endblock%}
