{% extends "base.html" %}

{%block main_content%}

<div class="row">

	<div class="span2"></div>
	<div class="span8">
		<h2>Simple Traffic Engineering with <br>OSCARS and SDN</h2>

	<p>
		In the summer of 2013, ESnet put efforts on the integration of 
		<a href="http://www.es.net/services/virtual-circuits-oscars/%20OSCARS">OSCARS</a>
		and <a href="http://www.projectfloodlight.org/floodlight/">Floodlight</a>.
		In the SDN context, OSCARS is an application that controls the
		<a href="http://es.net/">ESnet</a> 100G network and Floodlight is a
		SDN controller that communicates with network devices using
		<a href="http://www.openflow.org/">OpenFlow</a>.
	</p>
	<p>
		This simple application demonstrates how one can monitor and optimize
		a circuit-managed network using OSCARS and SDN. 
	</p>
	<p>
		The summer effort involved the development and extensions of multiple
		projects, including a new Path Setup Service for OSCARS, extensions to
		its internal classes and this web application.
	</p>
	<p>
		Here is a complete list of the related projects:
		<dl>
			<dt>
				OSCARS - On-Demand Secure Circuits and Advance Reservation System
			</dt>
			<dd>
				<p>
					ESnet's On-Demand Secure Circuits and Advance Reservation System (OSCARS) 
					provides multi-domain, high-bandwidth virtual circuits that guarantee 
					end-to-end network data transfer performance.
					Originally a research concept, OSCARS has grown into a robust production service.
					Currently OSCARS virtual circuits carry fifty percent of ESnet’s annual 60
					petabytes of traffic.<br/>
					<small>Source: <a href="http://www.es.net/services/virtual-circuits-oscars/">http://www.es.net/services/virtual-circuits-oscars/</a></small>
				
					<p>Check the
						<a href="http://github.com/hsr/oscars">code on github
						<i class="icon-share"></i></a>
					</p>
				</p>
			</dd>
	
			<dt>
				OSCARS SDNPSS - Path Setup Service interface to SDN Controllers
			</dt>
			<dd>
				<p>
					At the edge of the OSCARS Reservation Engine is the Path Setup Subsystem (PSS),
					which is responsible for the interface between network devices and OSCARS.

					This project implements the interface between OSCARS and Floodlight, the
					SDN controller that is currently supported by OSCARS.
					
					<p>Check the 
						<a href="http://github.com/hsr/oscars-sdnpss">code on github
						<i class="icon-share"></i></a>
					</p>
				</p>
			</dd>
			<dt>
				OSCARS Listener - Requesting circuits using JSON
			</dt>
			<dd>
				<p>
					This project implements a simple HTTP service that translates 
					JSON circuit reservation requests to the
					<a href="https://code.google.com/p/oscars-idc/wiki/OSCARS_Java_Client_API">OSCARS API</a>.
				
					<p>Check the
						<a href="http://github.com/hsr/oscars-listener">code on github
						<i class="icon-share"></i></a>
					</p>
				</p>
			</dd>
			<dt>
				OSCARS Trigger - Simple Traffic Engineering for OSCARS
			</dt>
			<dd>
				<p>
					This application interfaces with OSCARS and the SDN controller 
					to provide multiple features, such as multi-layer network 
					visualization, OpenFlow monitoring and simple traffic offloading.
				
					<p>Check the
						<a href="http://github.com/hsr/oscars-trigger">code on github
						<i class="icon-share"></i></a>
					</p>
				</p>
			</dd>
		</dl>
	</p>
	</div>
	<div class="span2"></div>
</div>

{%endblock%}
