{% extends "bootstrap_base.html" %}

{%block title%}oscarsTRIGGER - Traffic Engineering with OSCARS and SDN{%endblock%}

{%block body_content%}

{% include "navbar.html" %}

<div class="container">
    {% for category, msg in get_flashed_messages(with_categories=true) %}
		{% if category == 'message' %}
		<div class="alert alert-warning alert-dismissable">
		{% else %}
		<div class="alert alert-{{category}} alert-dismissable">
		{% endif %}
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ msg }}
		</div>
    {% endfor %}

	{%block main_content%}{%endblock%}

</div>

{%endblock%}

{% block bootstrap_js_bottom %}
	{{super()}}
	<script type="text/javascript">
		$('.tt').tooltip()
	</script>
{% endblock %}
