{% extends "base.html" %}

{%block main_content%}

<div class="row">

	<div class="span2"></div>
	<div class="span8">
	<h1>OSCARS Visualization</h1>

	<dl>
		<dt>
			<a href="{{url_for('plot.interactive')}}">Interactive Overlay</a>
		</dt>
		<dd>
			<p>
			This interactive plot shows the physical topology with 2 extra overlays.
			One is composed by OSCARS circuits and the second is the live topology as seen by Floodlight.
			</p>
		</dd>
	
		<dt>
			<a href="{{url_for('plot.static')}}?location=demoTopology">Optical Offloading map (FL Overlay + Fixed topology)</a>
		</dt>
		<dd>
			<p>
			This plot shows the physical topology with 2 extra overlays.
			One is composed by OSCARS circuits and the second is the live topology as seen by Floodlight.
			</p>
		</dd>
		<dt>
			<a href="/plot?controller=student6.es.net:8080&location=infinerademo">Optical Offloading map</a>
		</dt>
		<dd>
			<p>
			This plot shows the topology as seen by Floodlight on a empty background.
			</p>
		</dd>
		<dt>
			<a href="/plot?controller=student6.es.net:8080">US map</a>
		</dt>
		<dd>
			<p>
			Simple topoloy with the US map as background
			</p>
		</dd>
	</dl>

	</div>
<div class="span2"></div>

{%endblock%}
